* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.cont1 {
    background-color: #f59a4b;
    color: white;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.title h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.label-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.label-input label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.label-input input {
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    text-align: center;
    width: 100%;
}

.button-container button {
    padding: 12px 24px;
    font-size: 1rem;
    color: #007BFF;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container button:hover {
    background-color: #0056b3;
    color: #ffffff;
    border-color: #0056b3;
}

.cont2 {
    padding: 20px;
    background-color: #6D597A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    flex: 1;
    overflow-x: inherit;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f8f9fa;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
    background-color: #343a40;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

td {
    text-align: center;
    background-color: #ffffff;
}
